.page-wrapper {
  grid-template-rows: max-content auto;
  grid-template-columns: auto;
  background-color: var(--primary-lightest);
  grid-template-areas:
    "navbar"
    "main";
}

.landing-library-description {
  width: 45vw;
  padding: 0.5rem;
}

.landing-image {
  height: 40vh;
  width: 45vw;
  object-fit: contain;
}

main {
  grid-area: main;
  height: 100vh;
}

.main-section {
  margin-top: 0;
}

footer {
  width: 100%;
  padding: 1rem;
  bottom: 0;
}

#installation {
  padding: 5rem 1.25rem;
  height: 100%;
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 85%;
  }
  .landing-image {
    display: none;
  }

  .landing-library-description {
    width: 100%;
  }
}

@media only screen and (max-width: 400px) {
  html {
    font-size: 65%;
  }
  footer > * {
    font-size: 125%;
  }
}
