@import url("reset.css");
@import url("fonts.css");
@import url("colors.css");
@import url("spacing.css");

/* border-radius */

.br-s {
  border-radius: 0.313rem;
}

.br-m {
  border-radius: 0.625rem;
}

.br-l {
  border-radius: 0.938rem;
}

.rounded {
  border-radius: 50%;
}

/* text decoration */
.line-through {
  text-decoration: line-through;
}

/* iframe */

iframe {
  margin-bottom: 1rem;
}

/* wrappers */

.page-wrapper {
  display: grid;
  grid-template-areas:
    "navbar navbar"
    "sidebar main";
  grid-template-columns: 1fr 4fr;
  grid-template-rows: max-content auto;
  height: 100vh;
  overflow-y: auto;
}

/* navbar */

.navbar {
  background-color: var(--primary);
  position: fixed;
  width: 100%;
  grid-area: navbar;
  z-index: 1;
}

.navbar ul div a {
  padding: 0.75rem;
}

.nav-left a > * {
  font-size: 1.25rem;
  letter-spacing: 0.1rem;
  color: var(--white);
}

.nav-left a:hover {
  background-color: var(--primary-lighter);
}

.nav-right a > * {
  color: var(--white);
}

/* sidebar */

.sidebar {
  border-right: 1px solid var(--light-grey);
  top: 4rem;
  min-height: 100%;
  position: fixed;
  grid-area: sidebar;
  width: 20%;
}

.sidebar ul a {
  margin-bottom: 0.5rem;
}

.sidebar ul a > * {
  font-size: 1.125rem;
  padding: 1.25rem;
  letter-spacing: 0.05rem;
  font-weight: 500;
}

.sidebar ul a:hover {
  background-color: var(--primary-lightest);
}

.active-sidebar-item {
  background-color: var(--primary-lightest);
  color: var(--primary-dark);
}

/* main-section */
.main-section {
  margin-top: 5rem;
  grid-area: main;
}

/* flexbox */

.flex {
  display: flex;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.flex-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.flex-evenly {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem 1rem;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.flex-vertical {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.align-center {
  align-items: center;
}

.align-content-center {
  align-content: center;
}

.justify-between {
  justify-content: space-between;
}

.no-wrap {
  flex-wrap: nowrap;
}

.flex-grow-1 {
  flex-grow: 1;
}

/* gaps */

.row-gap-1 {
  row-gap: 1rem;
}

.row-gap-2 {
  row-gap: 2rem;
}

.row-gap-p5 {
  row-gap: 0.5rem;
}

.gap-1 {
  gap: 1rem 1rem;
}

.col-gap-2 {
  column-gap: 2rem;
}

/* label styling */

label {
  font-size: 1rem;
  line-height: 1.5rem;
}

/* Avatar styling */

.avatar {
  border: 2px solid var(--black);
  border-radius: 50%;
}

.avatar-lg {
  width: 4rem;
  height: 4rem;
}

/* Button styling */

.btn {
  width: max-content;
  height: max-content;
  font-weight: 600;
  text-align: center;
  line-height: 1.5rem;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  padding: 0.5rem;
  cursor: pointer;
}

.btn-icon {
  padding: 0.25rem;
}

.btn-action {
  background-color: var(--action);
  color: var(--white);
}

.btn-action:hover {
  background-color: var(--action-dark);
}

.btn-secondary {
  background-color: var(--secondary);
  color: var(--white);
}
.btn-secondary:hover {
  background-color: var(--secondary-dark);
}

.btn-primary {
  background-color: var(--primary);
  color: var(--white);
}

.btn-primary:hover {
  background-color: var(--primary-dark);
}
.outline-primary {
  background-color: var(--white);
  color: var(--primary-dark);
  border: 1.5px solid var(--primary-dark);
}

.outline-secondary {
  background-color: var(--white);
  color: var(--secondary-dark);
  border: 1.5px solid var(--secondary-dark);
}
.outline-action {
  background-color: var(--white);
  color: var(--action-dark);
  border: 1.5px solid var(--action-dark);
}

.outline:hover {
  color: var(--white);
}

/* Icons styling  */

.fa-heart {
  color: var(--danger);
}

.wishlist {
  color: var(--secondary-light);
}

.cart {
  color: var(--secondary);
}

.cart:hover {
  color: var(--secondary-dark);
}

.trash,
.close {
  color: var(--danger);
}

.trash:hover,
.close:hover {
  color: var(--danger-dark);
  background-color: var(--danger-lightest);
}

.close-filled {
  padding: 0.25rem;
  border: 1px solid var(--white);
  background-color: var(--danger);
  color: var(--white);
  border-radius: 0.25rem;
}
.close-filled:hover {
  color: var(--white);
  background-color: var(--danger-dark);
}

/* positions */

.position-relative {
  position: relative;
}
.position-fixed {
  position: fixed;
}

.position-absolute {
  position: absolute;
}

/* text styling */

.text-highlight {
  background-color: var(--secondary-lighter);
  padding: 0.25rem;
}

/* background styling */

.bg-white {
  background-color: var(--white);
}
.bg-primary {
  background-color: var(--primary);
}
.bg-secondary {
  background-color: var(--secondary);
}
/* heights */

.h-100 {
  height: 100%;
}

.h-max-content {
  height: max-content;
}

/* widths */

.w-100 {
  width: 100%;
}

.w-max-content {
  width: max-content;
}

.hamburger,
.hamburger-close,
.mobile-menu,
.mobile-social-footer,
.display-none {
  display: none;
}

@media only screen and (max-width: 600px) {
  .sidebar,
  .nav-right {
    display: none;
  }

  .sidebar-mobile {
    display: block;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: -1;
    z-index: 2;
    background-color: var(--white);
  }

  .sidebar-items {
    align-items: center;
    text-align: center;
  }

  .sidebar ul a {
    width: 100%;
  }

  .sidebar ul a > * {
    font-size: 2.25rem;
  }

  .main-section {
    grid-column-start: 1;
  }

  .mobile-menu,
  .mobile-social-footer,
  .hamburger {
    display: flex;
  }

  .display-none-mobile {
    display: none;
  }

  .display-item-mobile {
    display: flex;
  }
}
