.input-primary:focus {
  border: 1.5px solid var(--primary-dark);
}

.input-success:focus {
  border: 1.5px solid var(--success);
}

.input-danger-border,
.input-danger-border:focus,
.input-danger:focus {
  border: 1.5px solid var(--danger-dark);
}

.input-warning:focus {
  border: 1.5px solid var(--warning-dark);
}
