<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../utils.css" />
    <link rel="stylesheet" href="./buttons.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <title>Zingy UI | Buttons</title>
</head>

<body>
    <div class="page-wrapper">

        <!-- Navbar -->
        <nav class="navbar pd-xsm">
            <ul class="flex-between">
                <div class="nav-left flex-evenly">
                    <a href="/index.html">
                        <li>Zingy UI</li>
                    </a>
                    <a href="/components/avatar/avatar.html">
                        <li>Docs</li>
                    </a>
                </div>
                <div class="nav-right flex-evenly">
                    <a href="https://github.com/praveenreddy1798"><i class="fa fa-github fa-2x"
                            aria-hidden="true"></i></a>
                    <a href="https://twitter.com/praveen1798"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
                    <a href="https://www.linkedin.com/in/praveen-kumar-d-06b545168/"><i class="fa fa-linkedin fa-2x"
                            aria-hidden="true"></i></a>|
                </div>
                <div class="mobile-menu flex-evenly align-center">
                    <button class="btn hamburger mobile-item bg-primary white-color"><i
                            class="fa fa-bars fa-2x h-100"></i></button>
                    <button class="btn hamburger-close mobile-item bg-primary white-color"><i
                            class="fa fa-close fa-2x h-100"></i></button>
                </div>
            </ul>
        </nav>

        <!-- Sidebar -->
        <div class="sidebar">
            <ul class="sidebar-items flex-vertical">
                <a href="/components/avatar/avatar.html">
                    <li>Avatar</li>
                </a>
                <a href="/components/alerts/alerts.html">
                    <li>Alerts</li>
                </a>
                <a href="/components/badges/badges.html">
                    <li>Badges</li>
                </a>
                <a class="active-sidebar-item" href="/components/buttons/buttons.html">
                    <li>Buttons</li>
                </a>
                <a href="/components/cards/cards.html">
                    <li>Cards</li>
                </a>
                <a href="/components/responsive-images/responsive-images.html">
                    <li>Responsive Images</li>
                </a>
                <a href="/components/input/input.html">
                    <li>Input</li>
                </a>
            </ul>
        </div>

        <!-- Buttons -->
        <main class="main-section mg-md">
            <h1>Buttons</h1>
            <h3 class="mg-t-xsm">
                Simple Buttons
            </h3>
            <div class="flex-center gap-1 mg-xlg">
                <!-- Primary Button -->
                <button class="btn btn-primary">Primary</button>

                <!-- Secondary Button -->
                <button class="btn btn-secondary">Secondary</button>

                <!-- Action Button -->
                <button class="btn btn-action">Action</button>

                <!-- Success Button -->
                <button class="btn btn-success">Success</button>

                <!-- Danger Button -->
                <button class="btn btn-danger">Danger</button>

                <!-- Warning Button -->
                <button class="btn btn-warning">Warning</button>
            </div>
            <div class="flex-evenly mg-t-lg">
                <iframe src="https://carbon.now.sh/embed/3dsAsrO7t1MfqqgPNisD"
                    style="width: 100%; height: 500px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
            </div>
            <h3 class="mg-t-xsm">
                Outline Buttons
            </h3>
            <div class="flex-center gap-1 mg-xlg">
                <!-- Primary Outline Button -->
                <button class="btn btn-primary outline outline-primary">Primary</button>

                <!-- Secondary Outline Button -->
                <button class="btn btn-secondary outline outline-secondary">Secondary</button>

                <!-- Action Outline Button -->
                <button class="btn btn-action outline outline-action">Action</button>

                <!-- Success Outline Button -->
                <button class="btn btn-success outline outline-success">Success</button>

                <!-- Danger Outline Button -->
                <button class="btn btn-danger outline outline-danger">Danger</button>

                <!-- Warning Outline Button -->
                <button class="btn btn-warning outline outline-warning">Warning</button>
            </div>
            <div class="flex-evenly mg-t-lg">
                <iframe src="https://carbon.now.sh/embed/P5VKwV56UUObqoMRmgie"
                    style="width: 100%; height: 476px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
            </div>
            <h3 class="mg-t-xsm">
                Disabled Buttons
            </h3>
            <div class="flex-center gap-1 mg-xlg">
                <!-- Primary Disabled Button -->
                <button class="btn btn-primary disabled">Primary</button>

                <!-- Secondary Disabled Button -->
                <button class="btn btn-secondary disabled">Secondary</button>

                <!-- Action Disabled Button -->
                <button class="btn btn-action disabled">Action</button>

                <!-- Success Disabled Button -->
                <button class="btn btn-success disabled">Success</button>

                <!-- Danger Disabled Button -->
                <button class="btn btn-danger disabled">Danger</button>

                <!-- Warning Disabled Button -->
                <button class="btn btn-warning disabled">Warning</button>
            </div>
            <div class="flex-evenly mg-t-lg">
                <iframe src="https://carbon.now.sh/embed/UjKVv0AS7x14YLKmb3tY"
                    style="width: 100%; height: 476px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
            </div>
            <h3 class="mg-t-xsm">
                Link Buttons
            </h3>
            <div class="flex-evenly mg-xlg">
                <!-- Link Button -->
                <a href="#"><button class="btn link">Link</button></a>

                <!-- Underlined Link Button -->
                <a href="#"><button class="btn link underline">Link</button></a>
            </div>
            <div class="flex-evenly mg-t-lg">
                <iframe src="https://carbon.now.sh/embed/i52dCsb6nJMbFHQvIUQv"
                    style="width: 100%; height: 220px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
            </div>
            <h3 class="mg-t-xsm">
                Icon Buttons
            </h3>
            <div class="flex-center gap-1 mg-xlg">
                <!-- Shopping Cart -->
                <button class="btn btn-icon"><i class="fa fa-shopping-cart fa-2x cart"></i></button>

                <!-- Outline Trash -->
                <button class="btn btn-icon"><i class="fa fa-trash-o trash fa-2x"></i></button>

                <!-- Solid Trash -->
                <button class="btn btn-icon"><i class="fa fa-trash trash fa-2x"></i></button>

                <!-- Close with no border -->
                <button class="btn btn-icon"><i class="fa fa-close close"></i></button>

                <!-- Close with border -->
                <button class="btn btn-icon"><i class="fa fa-close close close-bordered"></i></button>

                <!-- Solid Close -->
                <button class="btn btn-icon"><i class="fa fa-close close close-filled"></i></button>

                <!-- Wishlist -->
                <button class="btn btn-icon wishlist"><i class="fa fa-heart-o fa-2x"></i></button>

                <!-- Wishlist Filled -->
                <button class="btn btn-icon wishlist wishlist-filled"><i class="fa fa-heart fa-2x"></i></button>
            </div>
            <div class="flex-evenly mg-t-lg">
                <iframe src="https://carbon.now.sh/embed/3z5eJdUXymHHxeahaXOk"
                    style="width: 100%; height: 607px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
            </div>
            <h3 class="mg-t-xsm">
                Floating Button
            </h3>
            <div class="flex-evenly mg-xlg">
                <button class="btn btn-floating rounded">+</button>
            </div>
            <div class="flex-evenly mg-t-lg">
                <iframe src="https://carbon.now.sh/embed/dIYlJDNesNpdNuDeDcgY"
                    style="width: 100%; height: 130px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
            </div>
        </main>
    </div>

    <script src='../../index.js'></script>
</body>

</html>