<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../utils.css" />
    <link rel="stylesheet" href="./avatar.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <title>Zingy UI | Avatar</title>
</head>

<body>
    <div class="page-wrapper">

        <!-- Navbar -->
        <nav class="navbar pd-xsm">
            <ul class="flex-between">
                <div class="nav-left flex-evenly no-gap">
                    <a href="/">
                        <li>Zingy UI</li>
                    </a>
                    <a href="/components/avatar/avatar.html">
                        <li>Docs</li>
                    </a>
                </div>
                <div class="nav-right flex-evenly no-gap">
                    <a href="https://github.com/praveenreddy1798"><i class="fa fa-github fa-2x"
                            aria-hidden="true"></i></a>
                    <a href="https://twitter.com/praveen1798"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
                    <a href="https://www.linkedin.com/in/praveen-kumar-d-06b545168/"><i class="fa fa-linkedin fa-2x"
                            aria-hidden="true"></i></a>
                </div>
                <div class="mobile-menu flex-evenly align-center">
                    <button class="btn hamburger mobile-item bg-primary white-color"><i
                            class="fa fa-bars fa-2x h-100"></i></button>
                    <button class="btn hamburger-close mobile-item bg-primary white-color"><i
                            class="fa fa-close fa-2x h-100"></i></button>
                </div>
            </ul>
        </nav>

        <!-- Sidebar -->
        <div class="sidebar">
            <ul class="sidebar-items flex-vertical">
                <a class="active-sidebar-item" href="components/avatar/avatar.html">
                    <li>Avatar</li>
                </a>
                <a href="/components/alerts/alerts.html">
                    <li>Alerts</li>
                </a>
                <a href="/components/badges/badges.html">
                    <li>Badges</li>
                </a>
                <a href="/components/buttons/buttons.html">
                    <li>Buttons</li>
                </a>
                <a href="/components/cards/cards.html">
                    <li>Cards</li>
                </a>
                <a href="/components/responsive-images/responsive-images.html">
                    <li>Responsive Images</li>
                </a>
                <a href="/components/input/input.html">
                    <li>Input</li>
                </a>
                <a href="/components/typography/typography.html">
                    <li>Typography</li>
                </a>
                <a href="/components/lists/lists.html">
                    <li>Lists</li>
                </a>
                <a href="/components/navbar/navbar.html">
                    <li>Navbar</li>
                </a>
                <a href="/components/simplified-grid/simplified-grid.html">
                    <li>Simplified Grid</li>
                </a>
                <a href="/components/modals/modals.html">
                    <li>Modals</li>
                </a>
                <a href="/components/other-utilities/other-utilities.html">
                    <li>Other Utilities</li>
                </a>
            </ul>
        </div>

        <!-- Avatar -->
        <main class="main-section mg-md">
            <h1>Avatar</h1>
            <p class="regular-text mg-t-xsm">Avatars are images that users can set as their profile picture. Here are
                five different sizes for profile pictures. Copy the respective styles and used them in your code.</p>
            <div class="flex-evenly border-light-grey pd-lg mg-lg">
                <img src="../../assets/profile.jpg" alt="avatar" class="avatar avatar-sm" />
                <img src="../../assets/profile.jpg" alt="avatar" class="avatar avatar-md" />
                <img src="../../assets/profile.jpg" alt="avatar" class="avatar avatar-lg" />
                <img src="../../assets/profile.jpg" alt="avatar" class="avatar avatar-xlg" />
                <img src="../../assets/profile.jpg" alt="avatar" class="avatar avatar-xxlg" />
            </div>
            <div class="carbon-container flex-evenly mg-t-lg">
                <iframe src="https://carbon.now.sh/embed/bW5rGLWbtx9GvsFrbrJU"
                    style="width: 100%; height: 220px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
            </div>
        </main>
    </div>

    <script src='../../index.js'></script>
</body>

</html>