.mobile-menu-navbar {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .navbar-right {
    display: none;
    margin: 0;
    padding-right: 1rem;
    flex-grow: 1;
  }

  .mobile-menu-navbar,
  .hamburger-navbar {
    display: flex;
  }
}
@media only screen and (max-width: 600px) {
  .nav-wishlist,
  .nav-cart {
    font-size: 2em;
  }
}

@media only screen and (max-width: 400px) {
  .nav-logo {
    font-size: 85%;
  }
}
