<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../utils.css" />
    <link rel="stylesheet" href="./responsive-images.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <title>Responsive Images</title>
</head>

<body>
    <div class="page-wrapper">
        <!-- Navbar -->
        <nav class="navbar pd-xsm">
            <ul class="flex-between">
                <div class="nav-left flex-evenly">
                    <a href="/home/index.html">
                        <li>Zingy UI</li>
                    </a>
                    <a href="/components/avatar/avatar.html">
                        <li>Docs</li>
                    </a>
                </div>
                <div class="nav-right flex-evenly">
                    <a href="https://github.com/praveenreddy1798"><i class="fa fa-github fa-2x"
                            aria-hidden="true"></i></a>
                    <a href="https://twitter.com/praveen1798"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
                    <a href="https://www.linkedin.com/in/praveen-kumar-d-06b545168/"><i class="fa fa-linkedin fa-2x"
                            aria-hidden="true"></i></a>|
                </div>
                <div class="mobile-menu flex-evenly align-center">
                    <button class="btn hamburger mobile-item bg-primary white-color"><i
                            class="fa fa-bars fa-2x h-100"></i></button>
                    <button class="btn hamburger-close mobile-item bg-primary white-color"><i
                            class="fa fa-close fa-2x h-100"></i></button>
                </div>
            </ul>
        </nav>

        <!-- Sidebar -->
        <div class="sidebar">
            <ul class="sidebar-items flex-vertical">
                <a href="/components/avatar/avatar.html">
                    <li>Avatar</li>
                </a>
                <a href="/components/alerts/alerts.html">
                    <li>Alerts</li>
                </a>
                <a href="/components/badges/badges.html">
                    <li>Badges</li>
                </a>
                <a href="/components/buttons/buttons.html">
                    <li>Buttons</li>
                </a>
                <a href="/components/cards/cards.html">
                    <li>Cards</li>
                </a>
                <a class="active-sidebar-item" href="/components/responsive-images/responsive-images.html">
                    <li>Responsive Images</li>
                </a>
                <a href="/components/input/input.html">
                    <li>Input</li>
                </a>
            </ul>
        </div>

        <!-- Responsive Images -->
        <main class="main-section mg-md">
            <h1>Responsive Images</h1>
            <h3 class="mg-t-xsm">
                Responsive Image
            </h3>
            <div class="flex-evenly mg-lg">
                <img class="responsive-image" src="../../assets/nature.jpeg" alt="responsive-image">
            </div>
            <div class="flex-evenly mg-t-lg">
                <iframe src="https://carbon.now.sh/embed/ah6GSDj7CAbpCK4k27rW"
                    style="width: 100%; height: 126px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
            </div>
            <h3 class="mg-t-xsm">
                Responsive Rounded Image
            </h3>
            <div class="flex-evenly mg-lg">
                <img class="responsive-image rounded" src="../../assets/nature.jpeg" alt="responsive-image">
            </div>
            <div class="flex-evenly mg-t-lg">
                <iframe src="https://carbon.now.sh/embed/Avcsoq76TtnibENaxfpF"
                    style="width: 100%; height: 126px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
            </div>
        </main>
    </div>

    <script src='../../index.js'></script>
</body>

</html>